.EditUser {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1.5em auto;
}

.EditUser h2 {
  text-align: center;
}

.edit-change-pass-btn {
  border: none;
  background-color: lightcoral;
  padding: 5px 8px;
  font-size: 16px;
  border-radius: 6px;
  width: fit-content;
  font-weight: 500;
}

.edit-change-pass-btn:hover {
  background-color: #fa5757;
  cursor: pointer;
}

.EditUser .classroom-teacher-container {
  width: 100%;
}

.EditUser .classroom-teacher-container h2 {
  text-align: left;
}
