.Error {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 17px;
}

.Error h3 {
  font-size: 2em;
  margin: 0;
}

.Error span{
    font-weight: 500;
}

.Error button {
  border: none;
  background-color: #aaaaaa;
  padding: 4px 10px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.Error button:hover{
    scale: 0.97;
    background-color: #bbbbbb;
}